{{- $context := .Context -}}
{{- $params := .Params -}}
{{- $title := default "系列专题" $params.title -}}
{{- $taxonomy := $context.Site.Taxonomies.series -}}

{{ if $taxonomy }}
<div class="widget-series">
  {{ with $title }}<h3 class="widget-title">{{ . }}</h3>{{ end }}
  <ul class="series-list">
    {{ range $name, $pages := $taxonomy }}
    {{ $seriesURL := printf "/series/%s/" $name | urlize }}
    {{ $seriesPage := $context.Site.GetPage (printf "series/%s" $name) }}
    <li class="series-item">
      <a href="{{ $seriesURL | absURL }}" 
         class="series-link{{ if or (eq $context.RelPermalink $seriesURL) (eq $context.RelPermalink $seriesPage.RelPermalink) }} active{{ end }}">
        {{ with $seriesPage }}{{ .Title | default $name }}{{ else }}{{ $name }}{{ end }}
        {{ if $params.showCount }}<span class="count">({{ len $pages }})</span>{{ end }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}